body {
    background-color: black;
    color: chartreuse;
    display: flex;
    justify-content: center;
}

nav,li {
    list-style-type: none;
}

nav {
    text-align: right;
}

.nav_button {
    font-family: monospace;
    font-size: 32px;
    text-align: right;
    color: rgb(0, 255, 0);
    text-decoration: none;
    width: 100;
}

.nav_button:hover {
    color: red;
    border: 1px solid rgb(255, 0, 0);
}

#wrapper {
    width: 1280px;
    text-align: center;
}

